body {
  background-color: beige;
}

.container {
  display: flex;
  justify-content: space-around;
}

input, textarea {
  display: block;
  margin-top: 4%;
  border-style: solid;
  border-width: 5px;
}

input {
  border-color: orange blue orange blue;
}

textarea {
  border-color: blue orange blue orange;
}
